<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Matshotshi Rudzani</h2>
            <h4>madilongamrt@gmail.com</h4>
        </div>
        <img src="../../../../assets/pic/rudzani.jpg" alt="soufiane FADIL">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>

    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item [routerLink]="['/posts']" routerLinkActive="list-item-active">Posts</a>
    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Class</a>
    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Attendance</a>
    <a mat-list-item [routerLink]="['/']" routerLinkActive="list-item-active">Schedule</a>

    <mat-divider></mat-divider>
    <h2 MatSubheader>Tools</h2>
    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="list-item-active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>